body{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    background-image: url(rectangle.png);
    background-position: center top;
    background-repeat: no-repeat;
    margin: 0px;
}
h1{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
}