body{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    background-image: url(rectangle.png);
    background-position: center top;
    background-repeat: no-repeat;
    margin: 0px;
}
h1{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
}
button{
    font-size: 13px;
    font-weight: 450;
    font-family: "Montserrat", sans-serif;
    color: #FFFFFF;
    height: 38px;
    width: 126px;
    background-color: #0033FF;
    border-style: none;
    border-radius: 105px;
    margin-top: 25px;
    margin-bottom: 20px;
    padding: 0px;
}
button:hover{
    cursor: pointer;
}
table{
    margin: 0 auto;
}